<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Such art</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="assets/style.css">
    <script src="https://unpkg.com/vue@next/dist/vue.js"></script>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
    <link ref="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.0.0/nouislider.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.0.0/nouislider.min.js"></script>
    <script src="../renderer/renderer.js"></script>
    <script src="../renderer/artimis.js"></script>
</head>
<body>
    <nav>
        <span id="title">Interactive Art</span>
    </nav>
    <div id="app">
        <div class="pure-g">
            <div class="pure-u-1-2">
                <canvas id="myCanvas" width="504px" height="520px"></canvas>
            </div>
            <div class="pure-u-1-2">
                <div class="controls accordion" v-for="curve in curves">
                    <h3 class="curve-title">Curve {{curve}}</h3>
                    <form class="pure-form pure-form-aligned">
                        <fieldset v-for="attribute in attributes">
                            <div class="pure-control-group">
                                <label v-bind:for=attribute.name>{{attribute.name}}</label>
                                <input class="slider" type="range" v-bind:id=attribute.name name="points" min="0" max="10" v-bind:placeholder="attribute.value"
                                    v-model="attribute.value">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="assets/js.js"></script>
    <script>
    $(function() {
        $(".accordion").each(function() {
            $(this).accordion({
              collapsible: true,
              active: false
            });
        })

        $(".slider").each(function() {
            noUiSlider.create(slider, {
                start: [20, 80],
                connect: true,
                range: {
                    'min': 0,
                    'max': 100
                }
            });
        })
    });
    </script>

</body>
</html>
