body {
    font-family: 'Montserrat', sans-serif;
}
.controls {
    cursor: pointer;
    padding: .5em;
    border: 3px solid black;
    border-radius: .5em;
    margin: 1em;
}

h3 {
    margin: .25em;
    font-size: 0.9em;
    font-family: 'Montserrat';
    font-weight: bolder;
    letter-spacing: 2px;
}

label {
    font-family: 'Raleway';
}

nav {
    padding: 1em;
    margin: 1em;
}

#app {
    margin-top: 2em;
}

#title {
    font-size: 1.2em;
    padding: .5em 1em;
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
}

canvas {
    padding-top: 5.7em;
    padding-left: 3.8em;
}

.frame {
    background-size: 100% 100%;
    width: 633px;
    height: 714px;
    background-repeat: no-repeat;
    position: absolute;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-image: url(../assets/frame.png);
}

.painting-div {
    padding-left: 4.5em;
}

.pure-u-1-2 {
    width: 46%;
}

.pure-control-group {
    padding-right: 10em;
}

.noUi-target {
    float: right;
    width: 50%;
}

.pure-form-aligned .pure-control-group label {
    width: 12em;
}
