<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Such art</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://unpkg.com/vue@next/dist/vue.js"></script>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.0.0/nouislider.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/9.0.0/nouislider.min.js"></script>
    <script src="/static/renderer/renderer.js"></script>
    <script src="/static/renderer/artimis.js"></script>
    <link rel="stylesheet" href="/static/assets/style.css">

  </head>
  <body>
    <nav>
      <span id="title">Interactive Art</span>
    </nav>
    <div id="app">
      <div class="pure-g">
        <div class="pure-u-1-2 painting-div">
          <div class="frame"></div>
          <canvas id="myCanvas" width="504px" height="520px"></canvas>
        </div>
        <div class="pure-u-1-2">
          <div class="controls accordion" v-for="curve in curves">
            <h3 class="curve-title">Curve {{curve}}</h3>
            <form class="pure-form pure-form-aligned">
              <fieldset v-for="attribute in attributes">
                <div class="pure-control-group">
                  <label v-bind:for=attribute.name>{{attribute.name}}</label>
                  <div class="slider" v-bind:forattr="attribute.jsname"></div>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="wackify">
            <button class="button" v-on:click="wackify">WACKIFY!</button>
          </div>
        </div>
      </div>
      <div class="w3-animate-opacity" id="secretMessages" v-if="wackifyLoading">
        <h3>{{wackifyMessage}}</h3>
        <center>
          <div v-if="wackifyLink">
            <img :src="wackifyImage">
            <p><a :href="wackifyLink">Imgur Link</a></p>
          </div>

          <div class="fa fa-spinner fa-spin" v-if="wackifyLoading && !wackifyLink"></div>
        </center>
      </div>
    </div>
    <script src="assets/js.js"></script>

  </body>
</html>
